<p>検索フォーム</P>
<%= notice %>

<%= form_with scope: :search, url: movies_path, method: :get, local: true do |form| %>
  <div class="input-group mb-3 border">
    <%= form.label "キーワードを入力してください", class: "input-group-text" %>
    <%= form.text_field :keyword, class: 'form-control' %></td>
  </div>
  <div>
    <%= form.label :is_showing, '公開中' %>
    <%= form.radio_button :is_showing, 'true' %>
  </div>
  <div>
    <%= form.label :is_showing, '未公開'%>
    <%= form.radio_button :is_showing, 'false' %>
  </div>
  <div class="submit-btn">
      <%= form.submit "検索", class: 'btn btn-primary' %>
  </div>
<% end %>

<br>

  <div class="movies-container">
    <% @movies.each do |movie| %>
      <div class="card card-skin">
        <div class="card_imgframe">
          <%= image_tag movie.image_url %>
        </div>
          <div class="card text_box">
            <div class="card_title">
              <%= movie.name %>
            </div>
            <div class="card_text">
              <p>ユーザーID: <%= movie.id %></p>
              <p>公開年: <%= movie.year %></p>
              <p>説明: <%= movie.description %></p>
              <p>フラグ: <%= movie.is_showing ? "公開中" : "未公開" %></p>
              <p>作成日: <%= movie.created_at %></p>
              <p>更新日: <%= movie.updated_at %></p>
            </div>  
          </div>
      </div>
    <% end %> 
  </div>








