<section id="about">
	<div class="inner">
		<div class='myGrid'>
        <table>
          <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>公開年</th>
            <th>上映中</th>
            <th>概要</th>
            <th>画像URL</th>
            <th>登録日時</th>
            <th>更新日時</th>
            <th></th>
          </tr>
          <% @movies.each do |movie| %>
            <tr>
              <td><%= movie.id %></td>
              <td><%= movie.name %></td>
              <td><%= movie.year %></td>
              <%  if movie.is_showing %>
                <td>上映中</td>
              <% else %>
                <td>上映終了</td>
              <% end %>
              <td><%= movie.description %></td>
              <td><a href="<%= movie.image_url%>">画像</a></td>
              <td><%= movie.created_at %></td>
              <td><%= movie.updated_at %></td>
              <td></td>
            </tr>
          <% end %>
        </table>
    </div>
	</div>
</section>
<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>