<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>


<% @movies.each do |movie| %>
  <%= movie.name %><br />
  <%= movie.year %><br />
  <%= movie.description %><br />
  <%= movie.image_url %><br />
  <%= movie.is_showing %><br />
  <img src="https://picsum.photos/210/143" alt="">
<% end %>
