<h1>moviesユーザ側の一覧ページ</h1>
<%= form_with(url: "/admin/movies", local: true,method: :get) do |f| %>
  <%= f.label :is_showing, '公開予定' %>
  <%= f.radio_button :is_showing , '0'%>
  <%= f.label :is_showing, '公開中' %>
  <%= f.radio_button :is_showing , '1'%>
  <%= f.label :is_showing, '映画一覧' %>
  <%= f.radio_button :is_showing , '2', checked: true%>
  <%= f.text_field :name %>
  <%= f.submit "search", name:nil %>
<% end %>
<section id="about">
	<div class="inner">
		<div class='myGrid'>
      <% @movies.each do |movie| %>
        <div class="card">
          <img src="https://picsum.photos/210/143" alt="">
          <title><%= movie.name %></title>
          <p><%= movie.year %></p>
          <p><%= movie.description %></p>
          <p><%= movie.image_url %></p>
          <p><%= movie.is_showing %></p>
          <div class="button">
              <button>予約</button>
          </div>
        </div>
      <% end %>
    </div>
	</div>
</section>