
<div>

<div class="container">
  <h1 class="mt-4">映画一覧</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>映画タイトル</th>
        <th>公開年</th>
        <th>上映中</th>
        <th>概要</th>
        <th>画像URL</th>
        <th>作成日時</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.id %></td>
          <td><%= movie.name %></td>
          <td><%= movie.year %></td>
          <td><%= movie.is_showing ? '上映中' : '上映終了' %></td>
          <td><%= movie.description %></td>
          <td><a href="<%= movie.image_url %>" target="_blank"><%= movie.image_url %></a></td>
          <td><%= movie.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
          <td><%= movie.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>