<h1>座席表 - <%= @movie.name %> (<%= params[:date] %>)</h1>

<p>予約済みの座席: <%= @reserved_sheets.inspect %></p>

<table border="1">
  <% @sheets.group_by(&:row).each do |row, sheets| %>
    <tr>
      <% sheets.each do |sheet| %>
        <% if @reserved_sheets.include?(sheet.id) %>
            <td style="background-color: gray; color: white;">
                <%= "#{row}-#{sheet.column} (予約済み)" %>
            </td>
        <% else %>
            <td>
              <a href="<%= new_movie_schedule_reservation_path(@movie, @schedule, sheet_id: sheet.id, date: params[:date]) %>">
                <%= "#{row}-#{sheet.column}" %>
              </a>
            </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>