<%= @movie.id %>
<%= @movie.name %>
<%= @movie.year %>
<%= @movie.description %>
<%= image_tag @movie.image_url %>
<%= @movie.is_showing %>

<br>

<h2>上映スケジュール</h2>
<% @schedules.each do |schedule|%>
  <%= "上映開始時刻：#{schedule.start_time}" %>
  <%= "上映終了時刻：#{schedule.end_time}" %>
<% end %>
