<div>
  <div>
    <div>
      <%= image_tag(@movie.image_url) %>
    </div>
    <div>
      <%= @movie.name %>
      <%= @movie.year %>
      <%= @movie.description %>
    </div>  
  </div>

  <h2>スケジュール一覧</h2>

<% @movie.schedules.group_by(&:screen).each do |screen, schedules| %>
  <h3><%= screen.name %></h3>
  <ul>
    <% schedules.each do |schedule| %>
      <li>
        <%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %> - <%= schedule.end_time.strftime("%Y-%m-%d %H:%M") %>
        <%= link_to '予約', reservation_movie_path(schedule_id: schedule.id, date: schedule.start_time.to_date) %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
