<header>
	<p>Tech Train</p>
</header>
<nav>
	<p>menu</p>
</nav>
<main>
	<h2>Movies Changes</h2>
	<div class="registration-form">
		<%= form_with model: [:admin, @movie] do |f| %>
			<%= render 'shared/flash' %>
			<div class="block">
				<%= f.label :name, "タイトル" %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>
			<div class="block">
				<%= f.label :year, "公開年" %>
				<%= f.text_field :year, class: 'form-control' %>
			</div>
			<div class="block">
				<%= f.label :is_showing, "上映中" %>
				<%= f.select :is_showing, [['上映中', 1], ['上映予定', 0]], {include_blank: true, selected: 1 }, class: 'form-control' %>
			</div>
			<div class="block">
				<%= f.label :description, "概要" %>
				<%= f.text_area :description, class: 'form-control' %>
			</div>
			<div class="block">
				<%= f.label :image_url , "画像URL" %>
				<%= f.text_field :image_url, class: 'form-control' %>
			</div>
			<div class='btn'>
				<%= f.submit "Save Changes", class: 'btn-primary' %>
			</div>
		<% end %>
	</div>
</main>