<h2>Movies</h2>
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>映画タイトル</td>
      <td>公開年</td>
      <td>上映中か</td>
      <td>概要</td>
      <td>画像URL</td>
      <td>作成日時</td>
      <td>更新日時</td>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= movie.is_showing ? "上映中" : "上映予定" %></td>
        <td><%= movie.description %></td>
        <td><%= image_tag movie.image_url %></td>
        <td><%= movie.created_at %></td>
        <td><%= movie.updated_at %></td>
      </tr>
      
    <% end %>
  </tbody>

</table>


  