<!DOCTYPE html>
<html>
<head>
    <title>映画一覧（管理画面）</title>
</head>
<body>
    <h1>映画一覧（管理画面）</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>公開年</th>
                <th>概要</th>
                <th>画像URL</th>
                <th>上映状態</th>
                <th>登録日時</th>
                <th>更新日時</th>
            </tr>
        </thead>

        <tbody>
            <% @movies.each do |movie| %>
                <tr>
                    <td><%= link_to movie.id, edit_admin_movie_path(movie) %></td>
                    <td><%= movie.name %></td>
                    <td><%= movie.year %></td>
                    <td><%= movie.description %></td>
                    <td><%= link_to "画像", movie.image_url, target: "_blank" %></td>
                    <td><%= movie.is_showing ? "上映中" : "上映予定" %></td>
                    <td><%= movie.created_at %></td>
                    <td><%= movie.updated_at %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div>
        <p><%= link_to '映画一覧', admin_movies_path %></p>
        <p><%= link_to '新規登録フォーム', new_admin_movie_path %></p>
    </div>
</body>
</html>
