<div class="form-container">

<%= alert %>

<%= render 'error_form', locals: { movie: @movie } %>

    <%= form_with scope: :movie, url: admin_movies_path, local: true do |form| %>
      <div class="input-group mb-3 border">
        <%= form.label "タイトル", class: "input-group-text" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="input-group mb-3 border">
        <%= form.label "公開年", class: "input-group-text mr-1" %>
        <%= form.text_field :year, class: 'form-control' %>
      </div>
      <div class="input-group mb-3 border">
        <%= form.label "上映中", class: "input-group-text" %>
        <%= form.select :is_showing, { "上映中": true, "上映予定": false },{} , class: 'form-control' %></td>
      </div>
      <div class="input-group mb-3 border">
        <%= form.label "概要", class: "input-group-text" %>
        <%= form.text_area :description, class: 'form-control' %></td>
      </div>
      <div class="input-group mb-3 border">
        <%= form.label "画像URL", class: "input-group-text" %>
        <%= form.text_field :image_url, class: 'form-control' %></td>
      </div>

      <div class="submit-btn">
          <input type="button" value="Close" class="btn bg-light">
          <%= form.submit "Save", class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>

