<!DOCTYPE html>
<h1>スケジュール編集</h1>

<%= form_with model: @schedule, url: admin_schedule_path(@schedule), method: :put do |f| %>
  <p>
    <%= f.label :start_time, "開始時刻" %>
    <%= f.time_field :start_time %>
  </p>

  <p>
    <%= f.label :end_time, "終了時刻" %>
    <%= f.time_field :end_time %>
  </p>

  <%= f.submit "更新" %>
<% end %>