上映一覧

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>映画名</th>
      <th>開始時間</th>
      <th>終了時間</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule|%>
      <tr>
        <th><%= schedule.id %></th>
        <th><%= link_to "#{schedule.movie.name}", admin_movie_path(schedule.movie) %></th>
        <th><%= schedule.start_time.strftime('%Y-%m-%d %H:%M:%S') %></th>
        <th><%= schedule.end_time.strftime('%Y-%m-%d %H:%M:%S') %></th>
        <th><%= schedule.created_at.strftime('%Y-%m-%d %H:%M:%S') %></th>
        <th><%= schedule.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></th>
      </tr>
    <%end%>
  </tbody>
</table>