<table>
  <thead>
    <tr>
      <th>　ID　</th>
      <th>　映画タイトル　</th>
      <th>  Movie_id　</th>
      <th>　映画開始時刻　</th>
      <th>　映画終了時刻　</th>
      <th>　作成日時　</th>
      <th>　更新日時　</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.movie.name %></td>
        <td><%= schedule.movie_id %></td>
        <td><%= schedule.start_time%>
        <td><%= schedule.end_time %></td>
        <td><%= schedule.created_at %></td>
        <td><%= schedule.updated_at %></td>
        <td><%= link_to "movies/#{schedule.movie_id}/schedules/#{schedule.id}/edit" do %><span class="glyphicon glyphicon-pencil"></span><% end %><td><%= link_to "schedule/#{schedule.id}", method: :delete , data: { confirm: "You sure?" } do%><span class="glyphicon glyphicon-trash"></span><% end %>
      </tr>
    <% end %>
  </tbody>
</table>