<h1>Schedule Details</h1>
<p>
  <b>Movie ID:</b> <%= @schedule.movie_id %><br>
  <b>Start Time:</b> <%= @schedule.start_time %><br>
  <b>End Time:</b> <%= @schedule.end_time %><br>
  <b>Created At:</b> <%= @schedule.created_at %><br>
  <b>Updated At:</b> <%= @schedule.updated_at %><br>
</p>