<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid pt-10">
      <% flash.each do |message_type, message|%>
        <% if message_type == 'success' %>
          <p class='success'><%= message %></p>
        <% else %>
          <p class='failed'><%= message %></p>
        <% end %>
      <%end%>
      <div class="row">
        <div class="col-2">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-10 main">
          <%= yield %>
        </div>
      </div>
    </div>  
  </body>
</html>
